.loader{
    height: 20vh;
    width: 360px;
    margin: auto;
    text-align: center;
    padding: 30px;
    box-shadow: 0 4px 12px rgb(177, 171, 171);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loadingDiv{
    height: 1vh;
    width: 100%;
    background-color: rgb(211, 204, 204);
    border-radius: 35px;
    overflow: hidden;
}

.loading{
    width: 50px;
    height: 1vh;
    background-color: blue;
    border-radius: 35px;
    animation: moving 0.8s infinite ease-in-out;
}

@keyframes moving{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(310px);
    }
    100%{
        transform: translateX(0px);
    }
}