.input-container{
    border-radius: 12px;
    border: dashed 1px rgb(77, 77, 224);
    height: 30%;
    margin: 25px 0;
    padding: 30px;
    z-index: 999;
    background-color: rgb(227 227 235);
    position: relative;
}

.inputBox{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

input[type="file"] {
    display: none;
}

.drag{
    font-size: 12px;
    display: block;
    color: rgb(87, 83, 83);
    margin-top: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}

.button{
    border-radius: 7px;
    padding: 6px;
    cursor: pointer;
    background: rgb(42, 69, 221);
    color: white;
}